*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"playfair display"sans-serif;
}

nav{
   
   padding:  20px;
   background-color: black;
   color: white;
  
   

}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
   
}
li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;

}
nav a:hover{
    color:red;
    /* background-color: greenyellow;
    cursor: progress; */
}
 nav li:last-child a{
    background-color:blue;
    padding:6px 12px;
    border-radius:5px;
 }

 nav li :last-child a:hover{
    background: red;
    color: black
 }

 nav a.active{
     color: red;
     font-weight: bold;
     border-bottom: 2px solid red;
 }

 .hero{
    height: 90vh;
    background-image: url("/images/banner\ food.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

 }

 .hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;

 }

 .hero button:hover{
background: blue;
color: black;
 }

 .video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
 }
 .video-text{
    flex: 1;
 }

 .video-box{
    flex: 1;
 }

 .video-box video{
   width: 100%;
   border-radius: 15px;

    }

    .video-text h2{
        font-size: 32px;
        margin-bottom: 15px;
    }

    .video-text{
        font-size: 18px;
        color: #444;
    }
    /* about section */
    .about{
        text-align: center;
        padding: 60px 20px;
        background: #f9f9f9;
    }
    .about h2{
        font-size: 32px;
        margin-bottom: 20px;
        color: rgb(255,0,0,0.615);
    }
    .about p{
        max-width: 700px;
        margin: auto;
        font-size: 18px;
        color: #555;
        line-height: 1.6;
    }


    /* Menu card */
    .card{
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: rgb(0, 0, 0, 0.1);

    }

    .card img{
        width: 100%;
        object-fit: cover;

    }

    .card button{
        background: red;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        margin-top: 5px;
        margin-top: 5px;
        cursor: pointer;
    }

    .card button:hover{
        background: darkred;
    }

    .menu-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        padding: 20px;
    }